html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  background: var(--app-bg);
  color: var(--app-text);

  font-family: var(--font-family-sans);
  font-size: var(--font-size-md);
  line-height: var(--line-height-normal);

  margin: 0;
}

* {
  box-sizing: border-box;
}

button,
input,
textarea,
select {
  font: inherit;
}